@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <table>
        @if (Model.VM.Collection.Count > 0)
        {
            @foreach (var row in Model.VM.Collection)
            {
                <tr>
                    <td>@row.Id</td>
                    <td>@row.Value</td>
                    <td>@row.Weight</td>
                    <td>@row.Subject.Shortcut</td>
                </tr>
            }
        }
        else
        {
            <p>Žádné známky neexistují.</p>
        }
    </table>

</div>
